<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr style="background:#000000;">
            <td valign="top" align="left" style="font-family:verdana;font-size:16px;line-height:1.3em;text-align:left;padding:15px">
                <table  width="100%">
                    <tr style="background:#FFF;border-radius:5px;">
                        <td style="font-family:verdana;font-size:13px;line-height:1.3em;text-align:left;padding:15px;">
                            <p><span style="font-family:arial,sans-serif; font-size:10pt"><img src='http://localhost/policy_v1/images/logo.jpg' style='width:200px;height:100px;'></span></p>
	                        <p><strong><span style="font-family:arial,sans-serif; font-size:10pt">Customer Name: Kushal</span></strong></p>
                            <p><strong><span style="font-family:arial,sans-serif; font-size:10pt">Customer Email: Kushalpatadia@gmail.com</span></strong></p>
                            <p><strong><span style="font-family:arial,sans-serif; font-size:10pt">Customer Phone: 1234567890</span></strong></p>
                            <p><strong><span style="font-family:arial,sans-serif; font-size:10pt">Customer Contact Time: Tomorrow 09:00 - 12:00</span></strong></p>
                            <table style="width: 100%; font-family:verdana;font-size:13px;line-height:1.3em;text-align:left;">
                                <tr style="text-align: center;">
                                    <td colspan="3" style="padding-bottom: 20px; font-size: 20px">
                                        <b>Enquiry Details</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Enquiry Type
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Contract Rate
                                    </th>
                                    <td colspan="2">
                                        &#8356; 10
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Contract Type
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Length of Time Contracting
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Any Gaps in last 12 months? 
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        How Long and When
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Time Left in Current Contract
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        What industry do you work in?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Contracting through
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Purchase Price / Property Price
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Loan Amount
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Current Lender
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Outstanding Balance
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Rent Acheivable
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Term of mortgage you would prefer?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Credit Rating
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Why Poor Credit?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Visited another broker?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Why did you not proceed?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        What are you hoping for from us?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Would you like a Fixed / Tracker mortgage?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        How long do you want the initial rate to be fixed?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        What Features are important to you?
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Comments
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Type of cover
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        With Critical Illness
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Premium
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Amount of cover required
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        number of years
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Budget
                                    </th>
                                    <td colspan="2">
                                        First Time Buyer
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr style="background:#FFF;border-radius:5px;">
                        <td style="font-family:verdana;font-size:13px;line-height:1.3em;text-align:left;padding:15px;">
                            <p><span style="font-family:arial,sans-serif; font-size:10pt">Thanks,</span></p>
                            <p><span style="font-family:arial,sans-serif; font-size:10pt">The Contractor Mortgages&nbsp;Team</span></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>